
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000f6a; 
  }
  
  li {
      font-size: 90%;
      color:white;
    float: left;
    display:inline;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color :#5f77ff;
  }
  .cat{
    position:relative;
    background-color: #000318;
    color: white;
    padding: 14px;
    font-size: 13px;
    border:none;
    bottom:44px ;
    
  }
  
  .categories{
      position:relative;
    display: inline-block;
    margin-left: 80.5%;
    
    
  }
  
  .list {
    position:relative;
    bottom: 55px;
    display: none;
    background-color: #000318;
    width: 100px;
    box-shadow: 0px 8px 16px 0px #c1cafe;
    z-index: 1;
  }
  
  .list a {
    color:whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
  }
  
  .list a:hover {background-color:#c1cafe;}
  
  .categories:hover .list {display: block;}
  
  .categories:hover .cat {background-color: #c1cafe;}
  
  #search {
  position:absolute; 
  bottom:96% ;
  margin-left: 85%;
  width: 250px;
  height: 40px;
  background-color: rgba(245, 245, 245, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 20px;
}
#search input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}
#search i {
  color: #3a3a3a;
}
.nav{
    margin-top: -0.75%;
    margin-left: -0.5%;
    margin-right:-1% ;
     height: 55%;

}
#T1{
    margin-left:1%
}
.CMC{
    width:10%;
    height: 17%;;
}
button{
    margin-left: 8%;
    margin-top: -5%;
}
.V{
    height:250px;
    width:12%;

}

#T2 {
    margin-top: -17.5%;
    margin-left: 20%;
    
    
}
.S{
    height:260px;
    width:14%;
}
#T3{
    margin-left:40%;
    margin-top:-17.5%;
}
.M{
  height:250px ;  
}

#T4{
    margin-left:60%;
    margin-top:-18%;
}
.MS{
    height:250px;
    width:42%;
}
#T5{

    margin-left:82%;
    margin-top:-17.5%;
}
.A{
    margin-top:2% ;
}
h2{
    color:#000f6a;
}
.HC{
    width: 10%;
    height: 10%;
    margin-left: 1%;
}
.W{
    width: 12%;
    height: 270px;
}

#A2 {
    margin-top: -19%;
    margin-left: 20%;
  
}
.TA{
    height:268px;
    width:14%;  
}
#A3{
    margin-left:40%;
    margin-top:-19%;
}
.G{
    height:250px ;  
  }

#A4{
    margin-left:60%;
    margin-top:-18%;
}

