
ul {
  list-style-type: none;
  margin: 0;
  padding: 8;
  overflow: hidden;
  background-color:#000318;
  max-height: 50%;
}
li {
    font-size: 90%;
    color:black;
    float: left;
   display:inline;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color :#c1cafe;
}
.Home{
  margin-left: -5%;
}
.cat{
  position: relative;
  bottom : 40px;
  background-color: #000318 ;
  color: white;
  padding: 12px;
  font-size: 13px;
  border: none;
}

.categories{
  position: relative;
  display: inline-block;
  margin-left:15% ;

}

.list {
  margin-top:-2%;
  display: none;
  position: absolute;
  background-color: #000318;
  min-width: 99px;
  box-shadow: 0px 8px 16px 0px #c1cafe;;
  z-index: 1;
}

.list a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}
.list a:hover {background-color:#c1cafe;}
.categories:hover .list {display: block;}
.categories:hover .cat {background-color: #C1CAFE;}

#search {
position:absolute;
top: 20px;
margin-left: 85%;
width: 250px;
height: 40px;
background-color: rgba(245, 245, 245, 0.8);
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
padding: 0px 20px;
}
#search input {
width: 100%;
height: 30px;
border: none;
outline: none;
background-color: transparent;
}
#search i {
color: #3A3A3A;
}
#icon{
  position:absolute;
  top: 20px;
  margin-left: 99%;
  margin-top:0.77%
} 
.nav{
  margin-top:-1%;
  margin-left: -0.5%;
  margin-right:-1% ;
  
}
#T1{
  margin-left:1%
}
.CMC{
  width:10%;
  height: 17%;;
}

.V{
  height:250px;
  width:12%;
}
#T2 {
  margin-top: -17.5%;
  margin-left: 20%;
}
.S{
  height:260px;
  width:14%;
}
#T3{
  margin-left:40%;
  margin-top:-17.5%;
}
.M{
height:250px ;  
}
#T4{
  margin-left:60%;
  margin-top:-18%;
}
.MS{
  height:250px;
  width:42%;
}
#T5{
  margin-left:82%;
  margin-top:-17.5%;
}
.A{
  margin-top:5% ;
}
h2{
  color:#000f6a;
}
.HC{
  width: 10%;
  height: 10%;
  margin-left: 1%;
}
.W{
  width: 12%;
  height: 270px;
}
#A2 {
  margin-top: -19%;
  margin-left: 20%;
}
.TA{
  height:268px;
  width:16%;  
}
#A3{
  margin-left:40%;
  margin-top:-19%;
}
.G{
  height:270px ; 
  width:22%; 
}
#A4{
  margin-left:60%;
  margin-top:-19%;
}
#A5{
    margin-left:82%;
    margin-top:-19%;
  }
  .H{
    height:270px;
    width:44%;
  }
  
  
#B{
    margin-top:5% ;
  }

.BR{
    width: 10%;
    height: 1%;
    margin-left: 1%;
}
.GG{
    width: 12%;
    height: 342px;
  }
#B2 {
    margin-top: -22.5%;
    margin-left: 20%;
  
  }
.TPH{
  height: 342px;
  width:15%;
}
#B3{
    margin-left:40%;
    margin-top:-22.5%; 
}

#B4{
  margin-left:60%;
  margin-top:-22.5%;
}
.TR{
  height:342px;
  width:22%; 
}
.C{
  height:342px;
  width:44%;
}
#B5{
  margin-left:82%;
  margin-top:-22.5%;
}
.b{
  display: inline-block;
  border-radius: 4px;
  background-color:grey;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 6%;
  margin-top: -1%;
}
.b span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.b span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.b:hover span {
  padding-right: 25px;
}
.b:hover span:after {
  opacity: 1;
  right: 0;
}

